.treatment-bg{
    background-image: url(https://i.ibb.co/Wptfbdk/banner-3.jpg);
    height: 1000px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.welcome-message{
    color: #C74001;
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    animation: text 10s steps(32) infinite alternate;
    border-right: 3px solid #C74001;
}
@keyframes text{
    0%{
        width: 0ch;
    }
    50%{
        width: 30ch;
    }
}
thead tr{
    color: white;
    font-size: 22px;
    background-color: #004365;
    border: none;
}
tbody tr{
    color: white;
    font-size: 18px;
    background-color: #004365df;
}
tbody tr:hover{
    color: black;
    background-color: white;
}